<div id="wgDialog" class="common-dialog wg-dialog" style="display: none;">
  <div class="common-head ">
    <h2 class="common-title">XXX活动优惠详情</h2>
  </div>
  <div class="wg-dialog-body">
    <div class="wg-subsidy-container">
      <span class="wg-subsidy-label">政府补贴金额：</span><span class="wg-subsidy-money">¥ 20.00</span>
      <span class="wg-subsidy-label">积分补贴金额：</span><span class="wg-subsidy-money">¥ 20.00</span>
    </div>
    <table class="wg-integral-container">
      <tr>
        <td>本次获得积分：120</td>
        <td>消费积分：120</td>
        <td>剩余积分：120</td>
      </tr>
    </table>
    <div class="wg-tip-container">
      <div class="wg-tip-title">温馨提示:</div>
      <p>
       1.“荟萃蓉城”精品剧目惠民展演项目属于成都市文化惠民项目，为了保护广大
       市民的合法权益，保证财政资金的安全，需要实名领取。
      </p>
      <p>
       2.故意输入错误姓名或证件号码，会导致永久无法享受优惠。 
      </p>
    </div>
    <div class="wg-button-container">
      <a class="wg-button-confirm">确定</a>
    </div>
  </div>
</div>

<div id="wgErrorDialog" class="common-dialog wg-dialog" style="display: none;">
  <div class="common-head ">
    <h2 class="common-title">XXX活动优惠详情</h2>
  </div>
  <div class="wg-dialog-body">
   
    <div class="wg-tip-container" style="margin-top: 0">
      <div class="wg-tip-title">温馨提示:</div>
      <p>
       1.“荟萃蓉城”精品剧目惠民展演项目属于成都市文化惠民项目，为了保护广大
       市民的合法权益，保证财政资金的安全，需要实名领取。
      </p>
      <p>
       2.故意输入错误姓名或证件号码，会导致永久无法享受优惠。 
      </p>
    </div>
    <div class="wg-button-container">
      <a class="wg-button-confirm">确定</a>
    </div>
  </div>
</div>
